main {
    padding: 20px;
}

.icon-group button {
    border: none;
}

.icon-group button:active {
    font-size: 1.2rem;
}

.icon-group button:hover {
    opacity: 0.7;
}

.new-task-wrapper {
    display: none;
}

.list-group {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
